/* Make use of this file to write your own custom CSS */

.f22lab-logo {
    height: 500px;
}

.pageinfo-icons {
    display: flex;
    gap: 40px;
}

.not-found {
    font-size: 14px;
    margin-left: 25px;
    margin-top: 25px;
}

.member-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.member-main {
    padding: 15px;
    display: flex;
    gap: 20px;
    border: 1px solid grey;
    border-radius: 8px;
}

.member-info {
    display: flex;
    flex-direction: column;
}

.member-img {
    width: 50px;
    border-radius: 30px;
}

.current-tab {
    border-bottom: 3px solid rgb(236, 72, 153)
}

.p-details{
    font-weight: 500;
    font-size: 15px;
}

.form-error {
    font-size: 15px;
    color: red;
}

.settings-title {
    margin-top: 50px;
    margin-left: 95px;
}

.settings-profile-c {
    margin: 30px 50px 0 95px;
}

.settings-account-c {
    margin: 30px 50px 0 95px;
}

.settings-h3 {
    font-size: 20px;
    font-weight: 600;
}

.settings-p {
    font-size: 16px;
    color: grey;
}

.settings-row {
    display: flex;
    justify-content: space-between;
}

.account-item3,
.profile-item3 {
    color: rgb(139,92,246);
    font-weight: 500;
}

.a-item2 {
    margin-right: 75px;
}

.p-item2 {
    margin-right: 40px;
}

.profile-item1,
.account-item1 {
    color: grey;
}

.profile-item2,
.account-item2 {
    font-weight: 500;
}

@media  screen and (min-width: 992px) {
    .pageinfo-icons {
        gap: 100px;
    }

    .member-list {
        flex-direction: row;
    }

    .member-main {
        width: 45%;
    }

}