/* Make use of this file to write your own custom CSS */

.f22lab-logo {
    height: 500px;
}

.pageinfo-icons {
    display: flex;
    gap: 40px;
}

@media  screen and (min-width: 992px) {
    .pageinfo-icons {
        gap: 100px;
    }
}